{% load static %}
<header class="menu navbar navbar-expand-xl  d-none d-xl-flex navbar-dark sticky-top flex-md-nowrap p-0 shadow">
  <div class="container-fluid">
    <a class="navbar-brand col-md-3 col-lg-3 px-3 ml-5" href="{% url 'panel' %}">
      <img src="{% static 'joystick_game.webp' %}" alt="Logo Shelf Collector" class="d-inline-block align-text-center">
      Gestiona tus colecciones
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link{% if request.path == '/panel/' %} active{% endif %}" aria-current="page" href="{% url 'panel' %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path == '/videojuego/' %} active{% endif %}" href="{% url 'videojuego' %}">Videojuegos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path == '/libro/' %} active{% endif %}" href="{% url 'libro' %}">Libros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path == '/funko/' %} active{% endif %}" href="{% url 'funko' %}">Funkos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path == '/conocenos' %} active{% endif %}" href="{% url 'conocenos' %}">Conoce el proyecto Shelf Collector</a>
        </li>
      </ul>
    </div>
    <div class="nav-item text-nowrap">
      {% if user.is_authenticated %}
      <li class="nav-item" style="list-style-type: none;">
        <a class="nav-link" href="{% url 'usuario_registrado_update' pk=user.id %}">{{ user.get_username }}</a>
      </li>
      {% endif %}
    </div>
    <div class="nav-item text-nowrap">
      {% if user.is_authenticated %}
      <!-- <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a> -->
      <a class="nav-link" href="/accounts/logout">Cerrar sesión</a>
      {% else %}
      <a class="nav-link" href="/accounts/login">Iniciar sesión</a>
      {% endif %}
    </div>
  </div>
</header>

<header class="menu navbar navbar-expand-lg d-flex d-xl-none navbar-dark sticky-top flex-md-nowrap p-0 shadow">

    <div class="container-fluid">
      <a class="navbar-brand d-lg-none col-md-3 col-lg-3 px-sm-3 px-0 ml-5 id_logo" href="{% url 'panel' %}">
        <img src="{% static 'joystick_game.webp' %}" alt="Logo Shelf Collector" class="d-inline-block align-text-center" id="id_logo">
        Gestiona tus colecciones
      </a>
      <a class="navbar-brand d-none d-lg-flex d-xl-none col-md-3 col-lg-2 px-sm-3 px-0 ml-5 id_logo" href="{% url 'panel' %}">
        <img src="{% static 'joystick_game.webp' %}" alt="Logo Shelf Collector" class="d-inline-block align-text-center" id="id_logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link{% if request.path == '/panel/' %} active{% endif %}" aria-current="page" href="{% url 'panel' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if request.path == '/videojuego/' %} active{% endif %}" href="{% url 'videojuego' %}">Videojuegos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if request.path == '/libro/' %} active{% endif %}" href="{% url 'libro' %}">Libros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if request.path == '/funko/' %} active{% endif %}" href="{% url 'funko' %}">Funkos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if request.path == '/conocenos/' %} active{% endif %}" href="{% url 'conocenos' %}">Conoce el proyecto Shelf Collector</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'usuario_registrado_update' pk=user.id %}">{{ user.get_username }}</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <div class="nav-item text-nowrap">
              {% if user.is_authenticated %}
              <a class="nav-link" href="/accounts/logout">Cerrar sesión</a>
              {% else %}
              <a class="nav-link" href="/accounts/login">Iniciar sesión</a>
              {% endif %}
            </div>
          </li>
        </ul>
      </div>
    </div>
</header>
