<label class="h4" for="coleccion">Colección</label>
<select id="coleccion" name="coleccion" class="form-select" onchange="redirectToSelectedOptionColeccion()">
    <option selected disabled>Selecciona una colección</option>
    {% for coleccion in colecciones %}
        <option value="{{ coleccion.id }}">{{ coleccion.nombre }}</option>
    {% endfor %}
</select>
<script>
    function redirectToSelectedOptionColeccion() {
        var selectElement = document.getElementById("coleccion");
        var selectedOption = selectElement.options[selectElement.selectedIndex];
        var coleccionId = selectedOption.value;

        if (coleccionId) {
            var url = "{% url 'videojuego_coleccion' coleccion_id=0 %}"; // Obtener la URL con un valor de ejemplo para coleccion_id
            url = url.replace('0', coleccionId); // Reemplazar el valor del parámetro en la URL
            window.location.href = url;
        }
    }
</script>