{% extends 'common/base_gamesapp.html' %}

{% block content %}
<div class="container py-5">
    <!-- Para crear elementos -->
    <h2>{{object|yesno:'Actualizar información de videojuego,Creación de un nuevo videojuego'}}</h2>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <!-- csrf_token es para hacer más segura la aplicación ante un posible robo de token (cross-site-scripting)(man-in-the-middle) -->

        {{ form.non_field_errors }}

        <div class="row">
            <div class="col-md-4">
                <div class="col-6 mb-3">
                    {{ form.nombre.errors }}
                    <label for="{{ form.nombre.id_for_label }}">Nombre</label> <br>
                    {{ form.nombre }}
                </div>
                <div class="col-6 mb-3">
                    {{ form.descripcion.errors }}
                    <label for="{{ form.descripcion.id_for_label }}">Descripción</label> <br>
                    {{ form.descripcion }}
                </div>
                <div class="col-6 mb-3">
                    {{ form.sinopsis.errors }}
                    <label for="{{ form.sinopsis.id_for_label }}">Sinopsis</label> <br>
                    {{ form.sinopsis }}
                </div>
                <div class="col-6 mb-3">
                    {{ form.anio.errors }}
                    <label for="{{ form.anio.id_for_label }}">Año</label> <br>
                    {{ form.anio }}
                </div>
                <div class="col-6 mb-3">
                    {{ form.img.errors }}
                    <label id="id_fecha_extravio" for="{{ form.img.id_for_label }}">Imagen</label> <br>
                    {{ form.img }}
                </div>
                '', '', '', 'distribuidor', 'desarrollador', 'modo_juego',
              'genero', 'plataforma', 'precio', 'edad_recomendada', 'tipo_contenido', 'tenemos', 'wish_list',
              'coleccion', 'formato', 'programa', 'carpeta'


                <div class="col-6 mb-3">
                    {{ form.datos_contacto.errors }}
                    <label for="{{ form.datos_contacto.id_for_label }}">Contacto</label> <br>
                    {{ form.datos_contacto }}
                </div>
                <div class="col-6">
                    {{ form.collar.errors }}
                    {{ form.collar }}
                    <label for="{{ form.collar.id_for_label }}">Collar</label>
                </div>
                <div class="col-6 mb-3">
                    {{ form.devuelto.errors }}
                    {{ form.devuelto }}
                    <label for="{{ form.devuelto.id_for_label }}">Devuelto</label>
                </div>
            </div>


            <div class="col-md-4">
                <div class="col-6 mb-3">
                    {{ form.num_chip.errors }}
                    <label for="{{ form.num_chip.id_for_label }}">Num. Chip</label> <br>
                    {{ form.num_chip }}
                </div>
                <div class="col-6 mb-3">
                    {{ form.tamano.errors }}
                    <label for="{{ form.tamano.id_for_label }}">Tamaño (en cm)</label> <br>
                    {{ form.tamano }}
                </div>
                <div class="col-6 mb-3">
                    {{ form.pelo.errors }}
                    <label for="{{ form.pelo.id_for_label }}">Pelo (Corto/Medio/Largo)</label> <br>
                    {{ form.pelo }}
                </div>
                <div class="col-6 mb-3">
                    {{ form.peso.errors }}
                    <label for="{{ form.peso.id_for_label }}">Peso (En kg)</label> <br>
                    {{ form.peso }}
                </div>
                <div class="col-6">
                    {{ form.color.errors }}
                    <label for="{{ form.color.id_for_label }}">Color (Escoge al menos uno)</label> <br>
                    {{ form.color }}
                </div>

            </div>


            <div class="col-md-4">
                <div class="col-6 mb-3">
                    {{ form.sexo.errors }}
                    <label for="{{ form.sexo.id_for_label }}">Sexo (M/H)</label> <br>
                    {{ form.sexo }}
                </div>
                <div class="col-6 mb-3">
                    {{ form.anio_nacimiento.errors }}
                    <label id="id_anio_nacimiento" for="{{ form.anio_nacimiento.id_for_label }}">Año de nacimiento</label> <br>
                    {{ form.anio_nacimiento }}
                </div>
                <div class="col-6 mb-3">
                    {{ form.descripcion.errors }}
                    <label for="{{ form.descripcion.id_for_label }}">Descripción</label> <br>
                    {{ form.descripcion|safe }}
                </div>
            </div>


            <hr>
            <div class="mb-3 enlace-img">
                {{ form.foto.errors }}
                <label for="{{ form.foto.id_for_label }}">Imagen</label>
                {{ form.foto }}
            </div>
            <div class="row">
                <div>
                    <input type="submit" class="btn" value="{{object|yesno:'Actualizar,Crear'}}" >
                    {% if object %}
                        <a class="btn" role="button" href="{% url 'm_perdida_delete' object.id %}"> Eliminar </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>

</div>
{% endblock %}