{% extends 'common/base_gamesapp.html' %}


{% load distribuidores_dropdown_v %}
{% load desarrolladores_dropdown_v %}
{% load modos_juego_dropdown_v %}
{% load generos_dropdown_v %}
{% load plataformas_dropdown_v %}
{% load colecciones_dropdown_v %}
{% load carpetas_dropdown_v %}


{% block content %}
<div class="container-fluid pb-5">
    <div class="row mt-5">

        <div class="col-md-3">
            <h2>Filtros</h2>
            <hr>
            <div class="row">
                <div class="col-6 col-md-12 mb-2">
                    {% distribuidor_dropdown_v %}
                </div>
                <div class="col-6 col-md-12 mb-2">
                    {% desarrollador_dropdown_v %}
                </div>
                <div class="col-6 col-md-12 mb-2">
                    {% modo_juego_dropdown_v %}
                </div>
                <div class="col-6 col-md-12 mb-2">
                    {% genero_dropdown_v %}
                </div>
                <div class="col-6 col-md-12 mb-2">
                    {% plataforma_dropdown_v %}
                </div>
                <div class="col-6 col-md-12 mb-2">
                    {% coleccion_dropdown_v %}
                </div>
                {% if carpetas %}
                <div class="col-6 col-md-12 mb-2">
                    {% carpeta_dropdown_v %}
                </div>
                {% endif %}
            </div>
            <form method="GET">

                <hr>
                <h4>Nombre</h4>
                <div class="form-group">
                    <label for="nombre">Introduce el nombre:</label>
                    <input id="id_filtros" type="text" name="nombre" placeholder="Nombre">
                </div>
                <hr>
                    <h4>Año de lanzamiento</h4>
                <div class="form-group">
                    <label for="anio">Introduce el año:</label>
                    <input id="id_filtros" type="text" name="anio" placeholder="Año">
                </div>
                <br>

                <button class="btn mt-1 mt-lg-0" type="submit">Filtrar</button>
                <a class="btn mt-1 mt-lg-0" href="{% url 'videojuegos' %}">Borrar filtros</a>
            </form>
        </div>

        <div class="col-md-9 pb-5">
            <h1>Listado de videojuegos</h1>
            <div class="row">
                {% if videojuegos %}
                    {% for videojuego in videojuegos %}
                        <div class="col-sm-4 col-xl-2 mb-3">
                            <a href="{% url 'videojuego_detail' id=videojuego.id %}">
                                <div class="card game">
                                    {% if videojuego.img %}
                                        <img src="{{ videojuego.img }}" class="card-img-top {% if videojuego.wish_list or videojuego.tenemos == 'n' %}wishlist-img{% endif %}" alt="{{ videojuego.nombre }}">
                                    {% endif %}
                                    {% if videojuego.wish_list %}
                                        <span class="badge wishlist-badge">Wishlist</span>
                                    {% elif videojuego.tenemos == 'n' %}
                                        <span class="badge wishlist-badge">No tenemos</span>
                                    {% endif %}
                                    <div class="card-body game">
                                        <h2 class="card-title h5">{{ videojuego.nombre }}</h2>
                                        {% if videojuego.descripcion|length > 70 %}
                                        <p class="card-text">{{ videojuego.descripcion|safe|slice:":70" }}...</p>
                                        {% elif recopilacion.descripcion|length < 70 %}
                                        <p class="card-text">{{ videojuego.descripcion|safe }}</p>
                                        {% elif recopilacion.descripcion|length == 0 %}
                                        <p class="card-text d-none"></p>
                                        {% endif %}
                                        {% if user.is_authenticated and videojuego.usuario == user %}
                                            <a href="{% url 'videojuego_update' pk=videojuego.id %}" class="edit-icon position-absolute">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No se han encontrado videojuegos</p>
                {% endif %}
            </div>
        </div>
        <!-- Botón "+" para añadir videojuego -->
        {% if user.is_authenticated %}
            <a href="{% url 'videojuego_create' %}" class="btn btn-primary btn-float">
                <i class="fas fa-plus"></i>
            </a>
        {% endif %}
    </div>
</div>
{% endblock %}