{% extends 'common/base_gamesapp.html' %}



{% load distribuidores_dropdown %}
{% load desarrolladores_dropdown %}
{% load modos_juego_dropdown %}
{% load generos_dropdown %}
{% load plataformas_dropdown %}
{% load colecciones_dropdown %}
{% load carpetas_dropdown %}


{% block content %}
<div class="container-fluid pb-5">
    <div class="row mt-5">

        <div class="col-md-3">
            <h2>Filtros</h2>
            <hr>
                {% distribuidor_dropdown %}
                {% desarrollador_dropdown %}
                {% modo_juego_dropdown %}
                {% genero_dropdown %}
                {% plataforma_dropdown %}
                {% coleccion_dropdown %}
                {% carpeta_dropdown %}
            <form method="GET">

                <hr>
                <h4>Nombre</h4>
                <div class="form-group">
                    <label for="nombre">Introduce el nombre:</label>
                    <input id="id_filtros" type="text" name="nombre" placeholder="Nombre">
                </div>
                <hr>
                    <h4>Año de lanzamiento</h4>
                <div class="form-group">
                    <label for="anio">Introduce el año:</label>
                    <input id="id_filtros" type="text" name="anio" placeholder="Año">
                </div>
                <br>

                <button class="btn mt-1 mt-lg-0" type="submit">Filtrar</button>
                <a class="btn mt-1 mt-lg-0" href="{% url 'videojuegos' %}">Borrar filtros</a>
            </form>
        </div>

        <div class="col-md-9 pb-5">
            <h1>Listado de recopilaciones</h1>
            <div class="row">
                {% if recopilaciones %}
                    {% for recopilacion in recopilaciones %}
                        <div class="col-md-2 mb-3">
                            {% if user.is_authenticated and recopilacion.usuario == user %}
                            <a href="{% url 'videojuego_update' pk=videojuego.id %}">
                            {% else %}
                            <a href="{% url 'videojuego_detail' id=videojuego.id %}">
                            {% endif %}
                                <div class="card lostfind">
                                    {% if videojuego.img %}
                                        <img src="{{ videojuego.img }}" class="card-img-top" alt="{{ videojuego.nombre }}">
                                    {% endif %}
                                    <div class="card-body lostfind">
                                        <h2 class="card-title h5">{{ videojuego.nombre }}</h5>
                                        {% if videojuego.descripcion|length > 70 %}
                                        <p class="card-text">{{ videojuego.descripcion|safe|slice:":70" }}...</p>
                                        {% else %}
                                        <p class="card-text">{{ videojuego.descripcion|safe }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No se han encontrado videojuegos</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}